[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
poseidon_rebalance = "2ro3VBKvqtc86DJVMnZETHMGAtjYFipZwdMFgtZGWscx"

[programs.mainnet]
poseidon_native = "HLsgAVzjjBaBR9QCLqV3vjC9LTnR2xtmtB77j1EJQBsZ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 programs/tests/**/*.ts"
